<p>
  home-map works!
</p>
<h1>{{ title }}</h1>
<div class="container">
  <h1>Map View</h1>
  <div class="form-group">
    <input placeholder="search for location" width="150px" height="50px" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <agm-map *ngIf="done" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker  *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"       [label]="m.label"
    [markerDraggable]="null"
    (dragEnd)="null"></agm-marker>
  </agm-map>
</div>