<div class="page-wrapper">
  <app-header> </app-header>
    <!-- <div class="main-container overlay"></div> -->
  <div class="main-container">
    <div id="product-list-container">
        <div class="active-products-container">  
          <div class="product-tile" *ngFor="let user of users">
              <div class="product-img">
                <img mat-card-image *ngIf="user.photoURL" [src]="user.photoURL" alt="Photo of a Shiba Inu">
                <img mat-card-image *ngIf="!user.photoURL" src="../../assets/img/imgicon.png" alt="NO user Image">                
              </div>
              <div>
                  <!-- {{user.name}}
                  {{user.brand}}
                  {{user.description}}    -->
              </div>
              <div>
                <button mat-button (click)="viewProducts(user)">View Products</button>
              </div>
            </div>
        </div>
    </div>
    <div id="map-container">
      <div class="container">
        <div class="form-group">
          <input placeholder="search for location" width="150px" height="50px" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
        </div>
        <agm-map *ngIf="userList" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <div *ngFor="let m of users; let i = index">
            <agm-marker [latitude]="m.lat" [longitude]="m.long"  
            [markerDraggable]="null"
            (dragEnd)="null"></agm-marker>
          </div>
        </agm-map>
      </div>
    </div>
  </div>

  </div>