<div class="footer-container">
  <div class="nav-icon-container">
    <div [style.color]="isHome() ? '#ff3588': '#ffffff'" class="icon-container">
      <mat-icon (click)="goToHome()"> home</mat-icon>
    </div>

    <div [style.color]="isProfile() ? '#ff3588': '#ffffff'" class="icon-container">
      <mat-icon (click)="goToProfile()" svgIcon="user"></mat-icon>
    </div>

    <div [style.color]="isMessages() ? '#ff3588': '#ffffff'" class="icon-container">
      <mat-icon (click)="goToMessages()">message</mat-icon>
    </div>

    <div class="icon-container">
      <mat-icon>more_horiz</mat-icon>
    </div>
  </div>
</div>

