<div class="footer-container">
  <div class="nav-icon-container">
    <div [ngClass]="{'selected': selectedLink === 'link1'}" (click)="goToHome(); selectedLink = 'link1'">
      <mat-icon class="icon-container"> home</mat-icon>
    </div>
    <div [ngClass]="{'selected': selectedLink === 'link2'}" (click)="goToProfile(); selectedLink = 'link2'">
      <mat-icon class="icon-container" svgIcon="user"></mat-icon>
    </div>
    <div [ngClass]="{'selected': selectedLink === 'link3'}" (click)="goToMessages(); selectedLink = 'link3'">
      <mat-icon class="icon-container">message</mat-icon>
    </div>
    <div [ngClass]="{'selected': selectedLink === 'link4'}" (click)="goToMore(); selectedLink = 'link4'">
      <mat-icon class="icon-container">more_horiz</mat-icon>
    </div>
  </div>
</div>
