<mat-toolbar *ngIf="!authorizedUser">
  <div class="nav-container main">
      <div class="right-nav logo">
        <a routerLink="/" routerLinkActive="active">
          <span>Product</span>
          <span>Map</span>
        </a>
      </div>
      <div class="left-nav">
        <span (click)="startSignIn()">Sign In</span>
        <span>For Business</span>
        <span>About</span>
      </div>
  </div>
  <div class="nav-container mobile">
    <mat-icon (click)="startSignIn()">menu</mat-icon>
    <div class="logo">
        <a routerLink="/" routerLinkActive="active">
          <span>Product</span>
          <span>Map</span>
        </a>
      </div>
  </div>
</mat-toolbar>

<mat-toolbar *ngIf="authorizedUser">
  <div class="nav-container main authorized">
      <div class="right-nav logo">
        <a routerLink="/" routerLinkActive="active">
          <span>Product</span>
          <span>Map</span>
        </a>
      </div>
      <div (click)="logOut()" class="left-nav">
        Welcome, {{currentUser.displayName}}       
        <img (click)="logOut()" width="30px" height="30px" src="../../../assets/img/profileicon.png" alt="">
        <img *ngIf="currentUser.photoURL" (click)="logOut()" width="30px" height="30px" src="{{currentUser.photoURL}}" alt="User Image"> 
      </div>
  </div>
  <div class="nav-container mobile">

    <div (click)="logOut()" class="right-nav menu">
      <img  width="35px" height="35px" src="../../../assets/img/profileicon.png" alt="">
      <img *ngIf="currentUser.photoURL" width="35px" height="35px" src="{{currentUser.photoURL}}" alt="User Image"> 
      <p>{{currentUser.displayName}}</p>    
    </div>
    
    

    <div class="logo">
        <a routerLink="/" routerLinkActive="active">
          <span>Product</span>
          <span>Map</span>
        </a>
      </div>
  </div>
</mat-toolbar>