<mat-toolbar>
  <div class="nav-container">
      <div class="right-nav logo">
        <mat-icon>menu</mat-icon>
        <a routerLink="/" routerLinkActive="active">
          <span>Beauty</span>
          <span> Maps</span>
        </a>
      </div>
      <div class="left-nav">
        <!-- <form class="example-form"> -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="location" value="arlington">
          </mat-form-field>
        <!-- </form> -->
      </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
