<app-header></app-header>
<section id="main-heading">
  <div class="content-container">
    <div class="text-container">
        <h2 class="heading">
            Find products
        </h2>
        <p class="sub-heading">in your neighborhood, when you need them</p>
    </div>
  
    <div class="full">
        <input type="text" placeholder="products, brand, trends">
        <input placeholder="Current Location">
        <app-action-button ctaText="Search" size="'lg'"></app-action-button>
    </div>

    <div class="mobile">
      <input type="text" name="" id="" placeholder="products, brand, trends">
      <app-action-button ctaText="Search" size="'md'"></app-action-button>
    </div>
  </div>
</section>
<section>
  <h1>Browse & Discover</h1>
  <mat-grid-list cols="3">
    <mat-grid-tile>HI-IN-DEMAND</mat-grid-tile>
    <mat-grid-tile>SUPPLIERS</mat-grid-tile>
    <mat-grid-tile>TRENDS</mat-grid-tile>
  </mat-grid-list>
</section>
<aside>
  <h3>The #1 platform for african seamstress and retailers</h3>
  <p>Manage your business, accept payments and grow your clientele using AfricanMarket software</p>
  <button mat-raised-button >Set up your business</button>  
</aside>
<app-footer></app-footer>