<section class="heading">
  <h2>
    Custom style and design for the afro revolution 
  </h2>
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="location" value="arlington">
    </mat-form-field>
  </div>
  <h3>

  </h3>
</section>
<section>
  <h1>Browse & Discover</h1>
  <mat-grid-list cols="3">
    <mat-grid-tile>MEN'S FASHION</mat-grid-tile>
    <mat-grid-tile>WOMEN'S FASHION</mat-grid-tile>
    <mat-grid-tile>TOP RETAILERS</mat-grid-tile>
  </mat-grid-list>
</section>
<aside>
  <h3>The #1 platform for african seamstress and retailers</h3>
  <p>Manage your business, accept payments and grow your clientele using AfricanMarket software</p>
  <button mat-raised-button >Set up your business</button>  
</aside>
<app-footer></app-footer>