<app-header></app-header>
<div class="main-container">
  <mat-card id="profile" [ngClass]="{'profile-display': !productListView}">
    <div class="profile-pic">
      <img *ngIf="profileUser" src="{{profileUser.photoURL}}" alt="">
    </div>
    <mat-card-content>
      <!-- <div class="pen"><mat-icon>edit</mat-icon></div> -->
      <div *ngIf="profileUser" class="username">{{profileUser.displayName}}</div>
      <!-- <div>Reviews</div> -->
      <div>
        <app-action-button class="profile-button" ctaText="Preview Public Mode" size="'lg'"></app-action-button>
      </div>    
      <!-- <p>
        1600 Pennsylvannia Ave, 
        Washington DC, District of Columbia
      </p> -->
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

  <div  id="products">
      <mat-tab-group [selectedIndex]="selectedTab" *ngIf="productListView">
        <mat-tab label="Active Products">
          <mat-card class="add-tile" (click)="addProduct()">
            <mat-icon>add</mat-icon>
          </mat-card>
          <div class="active-products-container">

            <mat-card class="product-tile" *ngFor="let product of products | async">
                <div class="profile-pic">
                  <img mat-card-image *ngIf="product.image" src="{{product.image}}" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-content>
                    {{product.name}}
                    {{product.brand}}
                    {{product.description}}   
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>${{product.price}}</button>
                </mat-card-actions>
              </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Out of stock">
            
          </mat-tab>
      </mat-tab-group>
      <app-add-product (doneAddingProduct)="doneAdding($event)" *ngIf="!productListView"></app-add-product>
  </div>
</div>