<app-header></app-header>
<div class="main-container">
  <mat-card id="profile" [ngClass]="{'profile-display': !productListView}">
    <div class="profile-pic">
      <!-- <img mat-card-image src="../../../../assets/img/store-cover.jpg" alt="Photo of a Shiba Inu"> -->
    </div>
    <mat-card-content>
      <div class="pen"><mat-icon>edit</mat-icon></div>
      <div class="username">C Infinity</div>
      <div>Reviews</div>
      <div>
        <app-action-button ctaText="Preview Public Mode" size="'lg'"></app-action-button>
      </div>    
      <p>
        1600 Pennsylvannia Ave, 
        Washington DC, District of Columbia
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <div  id="products">
      <mat-tab-group [selectedIndex]="selectedTab" *ngIf="productListView">
        <mat-tab label="Active Products" class="active-products-container">
          <div mat-button class="add-tile" (click)="addProduct()">
            <mat-icon>add</mat-icon>
          </div>

          <div class="product-tile add-tile" *ngFor="let product of products | async">
            <div >
              {{product.name}}
              {{product.description}}
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Out of stock">
            
          </mat-tab>
      </mat-tab-group>
      <app-add-product (doneAddingProduct)="doneAdding($event)" *ngIf="!productListView"></app-add-product>
  </div>
</div>